* {
    padding: 0;
    margin: 0;
}

header {
    padding-top: 22px;
    padding-bottom: 22px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav ul {
    display: flex;
    list-style: none;
}

.main_banner {
    background-color: #ECE7E4;
    height: 100vh;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.main_banner article {
    max-width: 509px;
    /*padding: 70px 51px 51px 40px;*/
}

header nav ul li {
    transition: 0.4s;
    margin: 13px 16px;;
}

header nav ul li:hover {
    transform: rotate(360deg);
}

header nav ul li:last-of-type {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 13px;
}

header nav ul li:last-of-type a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
    text-align: center;
}

/*header nav ul li:nth-child(2) {*/
/*    background-color: red;*/
/*}*/
header nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
}