* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

h1 {
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}

.h2_small {
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}

.h2-medium {
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
}

h3 {
    font-size: 18px;
    line-height: 26px;
    color: #403E3B;
}

h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.acent-text {
    color: #645C55;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container_1168 {
    max-width: 1168px;
    margin: auto;
}

.container-small {
    max-width: 768px;
    margin: auto;
}

.d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_flex_left {
    display: flex;
    justify-content: left;
}

.d_flex_centre {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex_wrap {
    flex-wrap: wrap;
}

.section_p_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/*
-----------------
Header
-----------------
 */

header {
    padding-top: 22px;
    padding-bottom: 22px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header a:first-of-type {
    margin-left: 32px;
}


header nav ul li {
    transition: 0.4s;
    margin: 13px 16px;
}

header nav ul li:hover {
    transition: 0.4s;
    transform: scale(1.2, 1.2);
}

header nav ul li:last-of-type {
    margin: 13px 40px 13px 31px;
}

header nav ul li:last-of-type a {
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
    text-align: center;
}

header nav ul li:last-of-type a:hover {
    background: #FFFFFF;
    color: #1B1A1A;
    border: 1px solid #1B1A1A;
    transform: scale(1.01, 1.01);
}

/*header nav ul li:nth-child(2) {*/
/*    background-color: red;*/
/*}*/
header nav ul li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
}

/*
--------------------
Main banner
---------------------
*/

.main_banner {
    background-color: #ECE7E4;
    height: 100vh;
    position: relative;
}

.main_bg {
    background-image: url('../images/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
}

.main_banner article {
    max-width: 509px;
    padding: 70px 51px 51px 40px;
}

.main_banner h1 {
    margin-bottom: 18px;
}

.main_banner h4 {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.main_banner p {
    margin-bottom: 20px;
}

.main_banner a {
    letter-spacing: 0.4px;
    color: #1B1A1A;
    padding: 11px 20px;
    background: none;
    border-radius: 14px;
    text-decoration: none;
    text-align: center;
}

.main_banner a:hover {
    transition: 0.4s;
    text-decoration-line: underline;
}

/*
---------------
Our firm
---------------
*/

.section_our_firm .h2_small {
    width: 134px;
    margin-right: 132px;
    white-space: nowrap;
}

.section_our_firm .content-our-firm p {
    padding-bottom: 10px;
}

.section_our_firm h4 {
    font-size: 17px;
    line-height: 26px;
    padding-left: 30px;
    text-transform: capitalize;
}

.section_our_firm span {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

/*
------------------------
How we do what we do.
Our process
-----------------------
*/

.section_our_process h4 {
    text-align: center;
    padding-bottom: 13px;
}

.section_our_process .h2-medium {
    text-align: center;
    padding-bottom: 47px;
}

.section_our_process .item {
    text-align: center;
}

.section_our_process .item_img {
    padding-bottom: 15px;
}

.section_our_process .item_img img {
    width: 117px;
    height: 102px;
}

.section_our_process .item h3 {
    padding-bottom: 10px;
}

.section_our_process .item p {
    text-align: center;
    padding-bottom: 10px;
}

/*
---------------------
PORTFOLIO ALL
---------------------
 */

.portfolio_general_css {
    background: #ECE7E4;
    min-height: 600px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sub_container {
    max-width: 285px;
    margin-right: 75px;
}

/*
-------------------
PORTFOLIO 1
---------------------
 */

.portfolio1 {
    background-image: url("../images/bg_portfolio1.jpg");
}

.portfolio1 .sub_container p {
    color: #645C55;
}

/*
---------------------
PORTFOLIO 2
---------------------
 */

.portfolio2 {
    background-image: url("../images/bg_portfolio2.jpg");
}

.portfolio2 .sub_container p {
    color: #645C55;
}

/*
---------------------
PORTFOLIO 3
---------------------
 */

.portfolio3 {
    background-image: url("../images/bg_portfolio3.jpg");
    justify-content: flex-start;
}

.portfolio3 .sub_container {
    margin-left: 60px;
    margin-right: 0;
}

.portfolio3 .sub_container p {
    color: #645C55;
}

/*
----------------
CUSTOMERS
------------------
 */

.customers {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #403E3B;
}

.column_content {
    max-width: 451px;
}

.customers h4 {
    color: #ECE7E4;
}

.customers h2.h2_small {
    color: #FFFFFF;
    padding-bottom: 14px;
}

.customers p {
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
    padding-bottom: 10px;
}

.customers .column_icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.customers .flex_icon {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 128px;
    /*flex-basis: 128px;*/
    /*justify-content: center;*/
    align-self: center;
}
/*
________________________
FEATURE
________________________
 */

.featured_projects {
    background-color: #F7F7F7;
    padding-top: 1130px;
    padding-bottom: 111px;
}

.featured_projects h2.h2-medium {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 15px;
}

.featured_projects p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 44px;
}
.featured_projects .item:hover .description {
    bottom: 0;
}
.featured_projects .item {
    max-width: 375px;
    position: relative;
    overflow: hidden;
}
.featured_projects .item img {
    width: 100%;
    display: block;
}

.featured_projects .item .description {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 40px;
    bottom: 100%;
    transition: 0.4s;
}

.featured_projects .description h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
    width: 100%;
}
.featured_projects .description h4 span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    display: block;
}

.featured_projects .description a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    padding: 11px 20px;
    background: #1B1A1A;
    border-radius: 14px;
}

.ui-accordion .ui-accordion-header {
    border: none;
    background: none;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    padding-top: 53px;
}
.ui-icon {
    display: none;
}

.ui-accordion .ui-accordion-content {
    background: none;
    border: none;
    padding: 0;
}
/*
________________________
TEAM
________________________
 */

.team {
    background: #FFFFFF;
}

.team_container {
    justify-content: space-between;
}

.team .meet_team {
    max-width: 358px;
    padding-right: 16px;
}

.team h2.h2_small {
    padding-bottom: 14px;
}

.team p {
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
    padding-bottom: 30px;
}

.team a {
    text-decoration: none;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
}

.team .team_container_flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
}

.team .team_block_flex {
    display: flex;
    margin-bottom: 19px;
    align-self: flex-start;
}

.team .team_block_flex img {
    max-width: 84px;
    max-height: 84px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.team .team_block_flex h4 {
    padding: 30px;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

.team .team_block_flex span {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

/*
_________________
GET IN TOUCH
__________________
 */

.get_in_touch {
    background: #CEC4BC;
}

.container_get_in_touch {
    max-width: 569px;
}

.get_in_touch a {
    text-decoration: none;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    padding: 11px 20px;
    border-radius: 14px;
}